@import "variables";
@import "../node_modules/element-ui/packages/theme-chalk/src/index";

body {
  font-family: "Lucida Sans Unicode", "Lucida Grande", "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  margin: 0;
  font-size: 14px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: $--color-bg;
}
.page-enter-active, .page-leave-active {
  transition: opacity .5s
}
.page-enter, .page-leave-active {
  opacity: 0
}
.el-input-number .el-input__inner {
  text-align: left;
}
.el-message {
  height: 60px;
  width: calc(100% - 120px) !important;
  border-radius: 0px;
}
.el-message-box {
  display: block;
  width: 100%;
  border-radius: 0px;
  border: none;
  height: 100%;
}
.el-container {
  height: 100vh;
  .el-header {
    background-color: $--color-primary;
    color: #fff;
    .Title {
      text-align: center;
      font-weight: 300;
      padding: 0 20px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .Action {
      color: #fff;
      font-size: 30px;
      display: block;
      margin-top: 2px;
      &--left {
        float: left;
      }
      &--right {
        float: right;
      }
    }
  }
  .el-main {
    padding: 0;
    .List {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        padding: 0;
        margin: 0;
        a, a:hover, a:focus, a:active {
          display: block;
          padding: 20px;
          text-decoration: none;
          outline: none;
          background-color: #fcfcfc;
          border-bottom: 1px solid $--color-primary-light;
          h2 {
            font-weight: 400;
            margin-top: 0;
            margin-bottom: 10px;
            color: $--color-primary;
          }
          p {
            margin: 0;
            color: lighten($--color-primary, 10%);
          }
          .Unknown {
            float: left;
            width: 64px;
            height: 64px;
            border-radius: 64px;
            background-color: $--color-primary-light;
            color: $--color-primary;
            font-size: 32px;
            line-height: 64px;
            text-align: center;
          }
          img {
            float: left;
            display: block;
          }
          .User {
            overflow: hidden;
            padding-left: 20px;
            height: 64px;
            .el-tag {
              border-radius: 16px;
              color: #fff;
              font-weight: 600;
              min-width: 32px;
              text-align: center;
              border-color: $color-yellow;
              background-color: $color-yellow;
            }
            h4 {
              height: 32px;
              line-height: 32px;
              margin: 0;
              font-weight: 400;
              font-size: 1.25em;
              color: $--color-primary;
              b {
                color: $--color-primary-dark;
              }
            }
            p {
              height: 32px;
              line-height: 32px;
            }
          }
        }
      }
    }
    .el-form {
      padding: 20px;
    }
    .AvatarPicker {
      text-align: center;
      height: 64px;
      margin-bottom: 20px;
      img {
        display: inline-block;
      }
      .Unknown {
        width: 64px;
        height: 64px;
        border-radius: 64px;
        display: inline-block;
        background-color: $--color-primary-light;
        color: $--color-primary;
        font-size: 32px;
        line-height: 64px;
        text-align: center;
      }
      &--left {
        width: 34px;
        padding: 9px;
        margin-right: 20px;
        float: left;
        margin-top: 16px;
      }
      &--right {
        width: 34px;
        padding: 9px;
        margin-left: 20px;
        float: right;
        margin-top: 16px;
      }
    }
    .Empty {
      font-weight: 300;
      padding: 20px;
      text-align: center;
      color: $--color-primary;
    }
  }
  .el-footer {
    background-color: $--color-primary-light;
    .Action {
      color: $--color-primary;
      font-size: 30px;
      display: block;
      margin-top: 2px;
      &--left {
        float: left;
      }
      &--right {
        float: right;
      }
    }
    .Content {
      overflow: hidden;
      padding: 10px;
      padding-left: 20px;
    }
  }
}
